html {
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  min-height: 100%;
  margin: 0;
}

/**
 * Correct font size and margin within section and
 * article contexts - Chrome, Firefox, and Safari
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
   ========================================================================== */
a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
button,
input,
optgroup,
select,
textarea {
  max-width: 100%;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input:disabled,
textarea:disabled {
  color: #404040;
  opacity: 0.8;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  -moz-appearance: button;
  -webkit-appearance: button;
  padding: 0.125em 0.375em;
  text-decoration: none;
  cursor: pointer;
}
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  padding: 0;
  border: none;
}
button:-moz-focusring,
input[type="button"]:-moz-focusring,
input[type="reset"]:-moz-focusring,
input[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
button:hover, button:focus, button:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  text-decoration: none;
}

button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled,
optgroup:disabled,
select:disabled {
  color: #808080;
  cursor: default;
  opacity: 1;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  white-space: normal;
  color: inherit;
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
}

/* Interactive
   ========================================================================== */
details {
  display: block;
}

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
template {
  display: none;
}

[hidden] {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
figure,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

p,
pre,
hr {
  margin: 1.125rem 0;
}

blockquote {
  margin: 1.125rem 2rem;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: underline;
}

a,
a:active:not(.button) {
  background-color: transparent;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: none;
}

svg {
  overflow: hidden;
  fill: currentColor;
}
svg:root {
  overflow: visible;
}

[disabled] {
  cursor: default;
  opacity: 0.5;
}

fieldset {
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

legend {
  margin-left: -0.3125rem;
  padding: 0 0.3125rem;
  border: none;
}

textarea {
  vertical-align: top;
  resize: vertical;
}

details,
main {
  display: block;
}

table {
  margin: 1.125rem 0;
  border-collapse: collapse;
  border-spacing: 0;
}

cite,
dfn,
em {
  font-style: italic;
}

iframe {
  border: none;
}

optgroup {
  font-weight: 700;
}

/*# sourceMappingURL=vitals.css.map */
