$stdhgap: 1.25rem !default; // in case this file is used by itself

// Item Gutter
$item-gutter: $stdhgap/2 !default;

// Containers
@mixin flex {
  display: flex;
  align-items: stretch;
}

@mixin flex-row {
  @include flex;
  flex-flow: row wrap;
}

@mixin flex-row-reverse {
  @include flex;
  flex-flow: row-reverse wrap;
}

@mixin flex-col {
  @include flex;
  flex-flow: column wrap;
}

@mixin flex-col-reverse {
  @include flex;
  flex-flow: column-reverse wrap;
}

// Container modifiers
@mixin flex-align($val)        { justify-content: $val;          }
@mixin flex-align-start        { justify-content: flex-start;    }
@mixin flex-align-center       { justify-content: center;        }
@mixin flex-align-end          { justify-content: flex-end;      }
@mixin flex-align-justify      { justify-content: space-between; }
@mixin flex-align-equalmargins { justify-content: space-around;  }
@mixin flex-align-equalspace   { justify-content: space-evenly;  }

@mixin flex-xalign($val)    { align-items: $val;       }
@mixin flex-xalign-start    { align-items: flex-start; }
@mixin flex-xalign-center   { align-items: center;     }
@mixin flex-xalign-end      { align-items: flex-end;   }
@mixin flex-xalign-baseline { align-items: baseline;   }
@mixin flex-xalign-stretch  { align-items: stretch;    }

// Item modifiers
@mixin item-xalign($val)    { align-self: $val;       }
@mixin item-xalign-start    { align-self: flex-start; }
@mixin item-xalign-center   { align-self: center;     }
@mixin item-xalign-end      { align-self: flex-end;   }
@mixin item-xalign-baseline { align-self: baseline;   }
@mixin item-xalign-stretch  { align-self: stretch;    }

// Item setup
@mixin flex-item {
  flex: 0 1 auto;
}

@function item-size($fraction, $gutter: $item-gutter) {
  @return calc(#{percentage($fraction)} - #{$gutter + ($gutter * $fraction)});
}
