// Cell Gutter
$vg-gutter: $stdhgap/2 !default;

// Cell Border
$vg-border-width: 0.0625rem !default;

// Cell Border Color
$vg-border-color: #666 !default;

// Grid wrapper
%vitals-grid {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
}

// Grid modifiers
@mixin vg-reverse {
	flex-direction: row-reverse;
}

@mixin vg-align-left {
	justify-content: flex-start;
}

@mixin vg-align-center {
	justify-content: center;
}

@mixin vg-align-right {
	justify-content: flex-end;
}

@mixin vg-valign-top {
	align-items: flex-start;
}

@mixin vg-valign-middle {
	align-items: center;
}

@mixin vg-valign-bottom {
	align-items: flex-end;
}

// Cell setup/modifiers
@function vg-cell-gutter($gutter, $fraction) {
  @return $gutter + ($gutter * $fraction);
}

@mixin vg-cell($fraction, $gutter: $vg-gutter) {
	flex: 0 1 auto;
	margin-left: $gutter;
	width: calc(#{percentage($fraction)} - #{vg-cell-gutter($gutter, $fraction)});
}

@mixin vg-cell-border($width: $vg-border-width, $color: $vg-border-color) {
	border: $width solid $color;
}

@mixin vg-cell-valign-top {
	align-self: flex-start;
}

@mixin vg-cell-valign-middle {
	align-self: center;
}

@mixin vg-cell-valign-bottom {
	align-self: flex-end;
}
