$stdvgap: 1.125rem !default; // 18px
$stdhgap: 1.25rem !default;  // 20px

:where(html) {
  // better box-sizing (opinionated)
  box-sizing: border-box;
  // provides a hard size for rem units to refer to, which pulls from user's browser setting
  font-size: 1em;
  // cannot set a line-height for all browsers because it depends on font metrics
  line-height: normal;
  // prevent adjustments of font-size after orientation changes - iOS
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  // better box-sizing (opinionated)
  box-sizing: inherit;
}

:where(body) {
  // no horizontal scrolling ever (opinionated)
  overflow-x: hidden;
  // body should fill the screen vertically (opinionated)
  min-height: 100%;
  // body shouldn't have a margin (opinionated)
  margin: 0;
}

:where(h1) {
  // Correct font size and margin in section/article - Chrome, Edge, Firefox, and Safari
  font-size: 2em;
  margin-block-end: 0.67em;
  margin-block-start: 0.67em;
}

/* Grouping content
   ========================================================================== */

:where(dl, ol, ul) :where(dl, ol, ul) {
  // Remove the margin on nested lists - Chrome, Edge, and Safari
  margin-block-end: 0;
  margin-block-start: 0;
}

:where(hr) {
  // Add the correct box sizing - Firefox
  box-sizing: content-box;
  height: 0;
  // Correct the inheritance of border color - Firefox
  color: inherit;
  // Hide overflow, in case any browsers remain that don't follow the spec
  overflow: hidden;
}

:where(pre, code, kbd, samp) {
  // Correct inheritance and scaling of font size - all browsers
  font-family: monospace, monospace;
  // Correct odd em font sizing - all browsers
  font-size: 1em;
}

/* Text-level semantics
   ========================================================================== */

:where(abbr[title]) {
  // Add the correct text decoration - Chrome, Edge, Opera, and Safari
  text-decoration: underline;
  text-decoration: underline dotted;
  text-decoration-style: dotted;
}

:where(b, strong) {
  // Add the correct font weight - Chrome, Edge, and Safari
  font-weight: bolder;
}

:where(small) {
  // Add the correct font size - all browsers
  font-size: 80%;
}

:where(sub, sup) {
  // Prevent `sub` and `sup` elements from affecting the line height - all browsers
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

:where(sub) {
  bottom: -0.25em;
}

:where(sup) {
  top: -0.5em;
}

/* Tabular data
   ========================================================================== */

:where(table) {
  // Correct table border color - Chrome, Edge, Safari
  border-color: currentColor;
  // Remove text indentation from table contents - Chrome, Edge, Safari
  text-indent: 0;
}

/* Forms
   ========================================================================== */

:where(button, input, optgroup, select, textarea) {
  max-width: 100%;
  // Change the font styles - all browsers
  font-size: 100%;
  line-height: inherit;
  // Remove the margin on controls - Firefox and Safari
  margin: 0;
}

:where(button) {
  // Show the overflow - Edge
  overflow: visible;
}

:where(button, select) {
  // Remove the inheritance of text transform - Firefox
  text-transform: none;
}

:where(select) {
  // Remove the inheritance of word-wrap - Safari
  word-wrap: normal;
}

// From https://github.com/h5bp/html5-boilerplate/pull/1403#issuecomment-25126183
:where(input, textarea):disabled {
  color: #404040;
  opacity: 0.8;
}

:where(button, input:is([type="button"], [type="color"], [type="reset"], [type="submit"])) {
  &::-moz-focus-inner {
    // Remove the inner border and padding of focus outlines - Firefox
    border-style: none;
    padding: 0;
  }

  &::-moz-focusring {
    // Restore the focus outline styles unset by the previous rule - Firefox
    outline: 1px dotted ButtonText;
  }
}

:where(:-moz-ui-invalid) {
  // Remove the additional :invalid styles - Firefox
  box-shadow: none;
}

:where(button, input:is([type="button"], [type="reset"], [type="submit"])) {
  display: inline-block;
  -moz-appearance: button;
  // Correct the inability to style buttons - iOS and Safari
  -webkit-appearance: button;
  padding: 0.125em 0.375em;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

:where(
  button,
  input:is([type="button"],[type="reset"], [type="submit"]),
  input[type='file']::file-selector-button,
  optgroup,
  select
) {
  // Correct default text color - iOS 15+
  color: inherit;

  &:disabled {
    color: #808080;
    cursor: default;
    opacity: 1;
  }
}

:where(fieldset) {
  // Correct the padding - Firefox
  padding: 0.35em 0.75em 0.625em;
}

:where(legend) {
  // Correct the text wrapping - Edge
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  white-space: normal;
  // Remove padding so devs are not surprised when they zero out fieldset elements - all browsers
  padding: 0;
}

:where(progress) {
  // Add the correct vertical alignment - Chrome, Edge, Firefox, and Opera
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  // Correct the cursor style of increment and decrement buttons - Safari
  height: auto;
}

::-webkit-input-placeholder {
  // Correct the text style of placeholders - Chrome, Edge, and Safari
  color: inherit;
  opacity: 0.54;
}

:where(input[type="search"]) {
  // Correct odd appearance - Chrome, Edge, and Safari
  -webkit-appearance: textfield;
  // Correct the outline style - Safari
  outline-offset: -2px;
}

::-webkit-search-decoration {
  // Remove the inner padding - Chrome, Edge, and Safari on macOS
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  // Correct the inability to style upload buttons - iOS and Safari
  -webkit-appearance: button;
  // Change font properties to `inherit` - iOS and Safari
  font: inherit;
}

/* Interactive
   ========================================================================== */

:where(details) {
  // Add the correct display - Edge and Firefox
  display: block;
}

:where(details > summary:first-of-type) {
  // Add the correct display - all browsers
  display: list-item;
}

:where(dialog) {
  // Add the correct styles - Safari
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  // Add the correct styles - Safari
  display: none;
}

/* Misc
   ========================================================================== */

:where(li) {
  // Default list style to "outside" - Chrome
  list-style-position: outside;
}




///////////////////
// Sane defaults //
///////////////////

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  figure,
  ol:not(ol > ol),
  ol:not(ul > ol),
  ul:not(ol > ul),
  ul:not(ul > ul),
  li
) {
  margin: 0;
  padding: 0;
}

:where(p, pre, hr) {
  margin: $stdvgap 0;
}

:where(blockquote) {
  margin: $stdvgap $stdhgap*1.6;
}

:where(a, button) {
  color: inherit;
}

:where(a) {
  text-decoration: underline;
}

:where(a, a:not(.button):active) {
  background-color: transparent;
}

:where(img, svg) {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: none;
}

:where(svg) {
  overflow: hidden;
  fill: currentColor;

  &:root {
    overflow: visible;
  }
}

:where([disabled]) {
  cursor: default;
  opacity: 0.5;
}

:where(fieldset) {
  min-width: 0;
}

:where(body:not(:-moz-handler-blocked) fieldset) {
  display: table-cell;
}

:where(legend) {
  margin-left: $stdhgap*-0.25;
  padding: 0 $stdhgap*0.25;
  border: none;
}

:where(textarea) {
  vertical-align: top;
  resize: vertical;
}

:where(details, main) {
  display: block;
}

:where(table) {
  margin: $stdvgap 0;
  border-collapse: collapse;
  border-spacing: 0;
}

:where(cite, dfn, em) {
  font-style: italic;
}

:where(iframe) {
  border: none;
}

:where(optgroup) {
  font-weight: 700;
}
