/***************************************
  Vitals v0.1.0

  Thanks to the following projects and
  their authors for influencing this:
  - Normalize.css by Nicolas Gallagher and Jonathan Neal
  - normalize-scss by John Albin
***************************************/
@import "vars";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 1em;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
blockquote,
figure {
  margin: 0;
  padding: 0;
}

p,
pre {
  margin: $stdvgap 0;
}

pre,
code,
kbd,
samp {
    font-size: 1em;
}

blockquote {
  margin: $stdvgap 2rem;
}

hr {
  margin: $stdvgap 0;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

strong {
  font-weight: inherit;
  font-weight: bolder;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: underline;
}

a,
a:active:not(.button) {
  background-color: transparent;
}

small {
  font-size: 0.8em;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img,
svg {
  border: none;
  height: auto;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  max-width: 100%;
  font-family: inherit;
  font-size: 1em;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"],
.button {
  -moz-appearance: button;
  -webkit-appearance: button;
  overflow: visible;
  display: inline-block;
  padding: 0.125em 0.375em;
  text-decoration: none;
  cursor: pointer;

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &[disabled] {
    cursor: default;
  }
}

button {
    background: none;
    border: none;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  margin-left: -0.3125rem;
  padding: 0 0.3125rem;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

table {
  margin: $stdvgap 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

dfn {
  font-style: italic;
}

audio:not([controls]) {
  display: none;
  height: 0;
}
